$max-width-viewport: 1200px;
$min-width-viewport: 375px;

$breakpoint-phone: 599px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-big-desktop: 1800px;