@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --vt-c-primary: rgb(20, 42, 65);
  --vt-c-secondary: rgb(246, 246, 248);
  --vt-c-accent: rgb(247, 83, 66);
  --vt-c-complement: rgb(123, 136, 160);
}

:root {
  --color-background: var(--vt-c-primary);
  --color-background-complement: var(--vt-c-complement);
  --color-border-dark: var(--vt-c-accent);

  --color-text: var(--vt-c-secondary);
  --color-text-accent: var(--vt-c-accent);
  --color-text-complement: var(--vt-c-complement);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--vt-c-primary);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family:  'Poppins', sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}